@media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px) {
 
/*    STYLING FOR GAME UI AND BOARD     */
        
        html,
        body {
            margin: auto;
            background: #383838;
        }
        
        .game_header h1,
        .player_name,
        .enemy_name {
            color: white;
            text-shadow: 2px 4px black;
        }
        
        .game_header {
            max-width: 100%;
            height: 20vh;
            background-image: url(assets/stone_wall01.png);
            border: 10px solid #161616;
            border-bottom: 0px;
            text-align: center;
            font-family: 'Press Start 2P', cursive;
        }
        
        .game_header h1 {
            padding-top: .5vh;
            font-size: 3vw;
            text-decoration: underline;
            display: inline-block;
        }
        
        .player_ui {
            padding: 0px 10px;
            display: inline-block;
            width: 12vw;
            height: 24.8vh;
            max-height: 100%;
            float: left;
            background-image: url(assets/PortraitPack/human_m_128.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .player_name,
        .enemy_name {
            padding-top: 5px;
            font-size: 12px;
        }
        
        .player_name {
            text-align: center;
        }
        
        .enemy_ui {
            padding: 0px 10px;
            display: inline-block;
            width: 12vw;
            height: 24.8vh;
            max-height: 100%;
            float: right;
            background-image: url(assets/PortraitPack/dwarf_m_128.png);
            background-repeat: no-repeat;
            background-position: center;
            transform: scale(-1, 1);
        }
        
        .enemy_name {
            text-align: center;
            transform: scale(-1, 1);
        }
        
        #game_board {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: stretch;
            flex-wrap: wrap;
            max-width: 100%;
            height: 76.5vh;
            background-image: url(assets/stone_wall01.png);
            border: 10px solid #161616;
        }
        
        #game_board button {
            padding: 2px 2px;
            margin: 5px 5px;
            max-height: 24%;
            width: 15%;
            border: 4px solid #181818;
            box-shadow: 1px 1px 1px #181818;
        }

/*   STYLING FOR CARDS FRONT AND BACKS   */   
        
        .game_tile,
        .one,
        .two,
        .three,
        .four,
        .five,
        .six,
        .seven,
        .eight,
        .nine,
        .ten,
        .eleven,
        .twelve {
            background-image: url(assets/crossgray.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
        }
        
        .one_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/axe.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;
        }
        
        .two_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/axeDouble.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }        
        
        .three_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/upg_armor.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }        
        
        .four_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/upg_bow.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }        
        
        .five_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/shield.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }        
        
        .five_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/backpack.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }
                
        .six_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/bow.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }
                
        .seven_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/upg_helmet.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }
                
        .eight_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/sword.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }
                
        .nine_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/tome.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }
                
        .ten_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/upg_axeDouble.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }
                
        .eleven_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/upg_sword.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        } 
        
        .twelve_img {
            background-image: url(assets/RavenmoreIconPack.02.2014/128/upg_axe.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #474747;
            transition-delay: .1s;  
        }
        